<!-- <app-search (searchRequest)="searchEvent($event)" ></app-search> -->
<form [formGroup]="searchForm">
  <div class="form-group row">
    <label for="Search" class="col-sm-2 col-form-label"><b>Search</b></label>
    <div class="col-sm-10">
      <input #searchbox type="text" class="form-control" id="Search" placeholder="Search artists and albums" (input)="searchEvent()" formControlName="search">
    </div>
  </div>

  <fieldset class="form-group">
    <div class="row">
      <!-- <legend class="col-form-label col-sm-2 pt-0">Search options</legend> -->
      <div class="col-sm">
        <legend class="col-form-label pt-0"><b>Release Type</b></legend>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="scope" id="radioAll" value="all" (change)=searchEvent() formControlName="scope">
          <label class="form-check-label" for="radioAll">
            All
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="scope" id="radioArtists" value="artists" formControlName="scope"  (change)=searchEvent()>
          <label class="form-check-label" for="radioArtists">
            Artists
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="scope" id="radioAlbums" value="albums" formControlName="scope"  (change)=searchEvent()>
          <label class="form-check-label" for="radioAlbums">
            Albums
          </label>
        </div>
      </div>

      <div class="col-sm">
        <legend class="col-form-label pt-0"><b>Sources</b></legend>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="sources" id="radioAllSources" value="allSources" (change)=changedSourceEvent() formControlName="sources">
          <label class="form-check-label" for="radioAllSources">
            All
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="sources" id="radioSputnikMusicSources" value="sputnikMusic" formControlName="sources"  (change)=changedSourceEvent()>
          <label class="form-check-label" for="radioSputnikMusicSources">
            Sputnik Music
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="sources" id="radioHBIHSources" value="hbih" formControlName="sources"  (change)=changedSourceEvent()>
          <label class="form-check-label" for="radioHBIHSources">
            Heavy Blog Is Heavy
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="sources" id="radioYLRSources" value="ylr" formControlName="sources"  (change)=changedSourceEvent()>
          <label class="form-check-label" for="radioYLRSources">
            Your Last Rites
          </label>
        </div>
      </div>



    </div>
  </fieldset>
</form>

<div class="row">
    <div class="col-xs-12 col-12">
          <pagination
            class="pagination-sm"
            [(ngModel)]="pageParams.currentPage"
            [totalItems]="pageParams.totalNumberOfAlbums"
            [itemsPerPage]="pageParams.itemsPerPage"
            [maxSize]="pageParams.maxSize"
            [boundaryLinks]="true"
            [rotate]="false"
            (numPages)="pageParams.numPages = $event"
            (pageChanged)="pageChanged($event)">
          </pagination>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let album of albums$ | async ; let i = index" class="col-sm-6 col-md-4">
            <div class="card mb-4">
              <div class="card-header">
                <div class="row">
                  <div class="col-md-8">
                    <h4 class="card-title">{{ album.artistName }}</h4>
                    <p class="card-subtitle"><strong>{{ album.albumName }}</strong></p>
                  </div>
                  <div class="col-6 col-md-4" style="text-align: center;padding-right: 0px;">
                    <button
                      [id]="(getUserService().isLoggedIn ? 'btn-edit-release' : 'btn-edit-release-disabled')"
                      class="btn btn-primary"
                      (click)="editReleaseModal(i)"
                      [disabled]="!getUserService().isLoggedIn">
                      <i class="fas fa-edit fa-sm"></i>
                    </button>
                  </div>
                </div>
              </div>
              <img *ngIf="album.spotify && album.spotify.cover; else sputnikCover" class="card-img-top" [src]="album.spotify.cover" alt="album.albumName">
              <ng-template #sputnikCover>
                <img *ngIf="album.sputnikMusic; else heavyBlogCover" class="card-img-top" [src]="album.sputnikMusic.imagePath" [alt]="album.albumName">
              </ng-template>
              <ng-template #heavyBlogCover>
                <img *ngIf="album.heavyBIsH; else yourLastRitesCover" class="card-img-top" [src]="album.heavyBIsH.imagePath" [alt]="album.albumName">
              </ng-template>
              <ng-template #yourLastRitesCover>
                <img *ngIf="album.yourLastRites" class="card-img-top" [src]="album.yourLastRites.imagePath" [alt]="album.albumName">
              </ng-template>
                <div class="card-body">
                  <tabset>
                    <tab heading="Spotify">
                        <p *ngIf="album.spotify" class="mt-2">Release Date: {{ album.spotify.release_date }}</p>
                        <p *ngIf="album.spotify; else elseBlock" class="mt-2">Tracks: {{ album.spotify.total_tracks }}</p>
                      <ng-template #elseBlock><p class="mt-2">No information. Please search on Spotify or try to add to a playlist</p></ng-template>
                    </tab>
                    <tab *ngIf="album.sputnikMusic" heading="Sputnik Music">
                      <p class="mt-2">Sputnik rating: {{ album.sputnikMusic.note }}</p>
                      <p *ngIf="album.sputnikMusic.numberOfUserRatings" class="mt-2">Number of user rating: {{album.sputnikMusic.numberOfUserRatings}}</p>
                      <p>Release Date: {{ getDate(album._id,0) }}</p>
                      <p><a href="https://www.sputnikmusic.com/album/{{album.sputnikMusic.id}}/" target="_blank">Consulter sur Sputnik Music</a></p>
                    </tab>
                    <tab *ngIf="album.heavyBIsH" heading="HBIH">
                      <p *ngIf="album.heavyBIsH.sources" class="mt-2">Sources: {{ album.heavyBIsH.sources }}</p>
                      <p class="mt-2">Date: {{ getDate(album._id,1) }}</p>
                      <p><a href="{{ album.heavyBIsH.reviewLink }}" target="_blank">Consulter sur HBIH</a></p>
                    </tab>
                    <tab *ngIf="album.yourLastRites" heading="YLR">
                      <p class="mt-2">Release Date: {{ getDate(album._id,2) }}</p>
                      <p><a href="{{ album.yourLastRites.reviewLink }}" target="_blank">Consulter sur Your Last Rites</a></p>
                    </tab>
                  </tabset>
                </div>
                <div class="card-footer">
                  <!-- <p><button  class="btn btn-primary"
                              role="button"
                              (click)="addToPlaylist(i)"
                              [disabled]="!getUserService().isLoggedIn">Add to playlist</button>
                            </p> -->
                            <button
                            (click)="addToPlaylist(i)"
                            [disabled]="!getUserService().isLoggedIn"
                            class="mr-1"
                            id="btn-add-release">
                            <i class="fas fa-plus-circle" [id]="(getUserService().isLoggedIn ? 'icon-add-release' : 'icon-add-release-disable')"></i>
                          </button>
                          <p><span *ngIf="album.searchedOnSpotify && album.spotifySearchResults.length === 0 && !album.spotify"> Sorry ! No result found</span></p>
                          <p *ngIf="album.addedToPlaylist">Album added to playlist {{ album.addedToPlaylist.name}}
                          </p>
                          <p></p>
                  <ng-container *ngIf="album.searchedOnSpotify && album.spotifySearchResults.length > 1">
                    <p>{{ album.spotifySearchResults.length }} results found! Please select the right one</p>
                    <button class="btn btn-primary" (click)="openModalWithComponent(i)">Select Record</button>
                  </ng-container>
                </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-12">
          <pagination
            class="pagination-sm"
            [(ngModel)]="pageParams.currentPage"
            [totalItems]="pageParams.totalNumberOfAlbums"
            [itemsPerPage]="pageParams.itemsPerPage"
            [maxSize]="pageParams.maxSize"
            [boundaryLinks]="true"
            [rotate]="false">
            <!-- (numPages)="numPages = $event"
            (pageChanged)="pageChanged($event)"> -->
          </pagination>
    </div>
  </div>

