# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules
/server/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
playlistify_wkspace*

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
.env
scripts/temp

#DATA json
data.json
heavyB_data.json
yourLastRites_data.json
scripts/data.json
scripts/yourLastRites_data.json
scripts/heavyB_data.json
.vscode/settings.json
.gitignore
.vscode/launch.json
scripts/data.json
.vscode/settings.json
scripts/data.json
.vscode/settings.json
