<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="/">Playlistify</a>
    <button (click)="toggleCollapse()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02" [class.show]="show">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item" role="presentation" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/sputnik']">Sputnik Music<span class="sr-only">(current)</span></a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Menu 2</a>
        </li>
      </ul>
      <form *ngIf="isLoggedIn()" class="form-inline my-2 my-lg-0 playlistList">
        <a href="#"><i class="fas fa-plus-circle fa-lg"></i></a>
        <select name="playlist" (change)="onPlaylistChange($event.target.value)" class="playlistSelect">
            <ng-container *ngFor="let playlist of playlists; let i = index">
              <option [value]="playlists[i].id">{{ playlists[i].name }}</option>
            </ng-container>
        </select>
      </form>
      <ul class="navbar-nav mt-2 mt-lg-0">
        <li *ngIf="!isLoggedIn()" class="nav-item"><a class="btn btn-primary" id="btn-spotify-login" href="/auth/spotify" role="button">Login with Spotify</a></li>
        <ng-container *ngIf="isLoggedIn()">
          <li class="nav-item">
            <img [src]="user.images[0].url" alt="user img" class="img-circle img-profile">
          </li>
          <li>
            <p class="loggedin">{{ user.display_name }}</p>
          </li>
        </ng-container>
      </ul>
  </div>
</nav>
