.btn-green {
    color: #fff;
    background-color: #2ebd59;
    border-radius: 500px;
    border: none;
    padding: 8px 30px 8px;
    font-size: 1.3em;
    margin-top: 4px;
}

.loggedin {
    padding-top: 15px;
    padding-bottom: 5px;
}

.nav > li {
    display: flex;
}

.img-profile {
    height: 44px;
    margin-top: 3px;
    margin-bottom: 3px;
}