/* .btn-green { */
#btn-spotify-login {
    color: #fff;
    background-color: #2ebd59;
    border-radius: 500px;
    border: none;
    padding: 5px 30px 5px;
    font-size: 1.2em;
    /* margin-top: 4px; */
    font-weight: bold;
}

.loggedin {
    padding-top: 15px;
    padding-bottom: 5px;
}

.nav > li {
    display: flex;
}

.img-profile {
    height: 44px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.playlistList{
    margin-right: 12px;
}

.playlistSelect {
    width: 250px;
}