<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/">Playlistify</a>
    <button (click)="toggleCollapse()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo02" [class.show]="show">
      <!-- <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item" role="presentation" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/sputnik']">Sputnik Music<span class="sr-only">(current)</span></a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Menu 2</a>
        </li>
      </ul> -->
      <form *ngIf="isLoggedIn()" class="form-inline my-2 my-lg-0 playlistList">
        <a (click)="openModal(template)" class="mr-1"><i class="fas fa-plus-circle fa-lg" id="btn-create-playlist"></i></a>
        <select name="playlist" (change)="onPlaylistChange($event.target.value)" class="playlistSelect">
            <ng-container *ngFor="let playlist of playlists; let i = index">
              <option [value]="playlists[i].id">{{ playlists[i].name }}</option>
            </ng-container>
        </select>
      </form>
      <ng-template #template>
        <div class="modal-header">
          <h4 class="modal-title pull-left">Create a playlist</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="form-inline">
            <div class="form-group">
                <label for="playlistName" class="mr-2" >Playlist Name: </label>
                <input #playlistName class="form-control mr-2" name="playlistName" id="playlistName" type="text" placeholder="My playlist">
                <button class="btn btn-primary" type="submit" (click)="createPlaylist(playlistName.value)">Create</button>
            </div>
          </form>
        </div>
      </ng-template>

      <!-- <ul class="navbar-nav mt-2 mt-lg-0"> -->
        <span *ngIf="!isLoggedIn()" class="nav-item"><a class="btn btn-primary" id="btn-spotify-login" href="/auth/spotify" role="button">Login with Spotify</a></span>
        <ng-container *ngIf="isLoggedIn()">
          <span *ngIf="user.images[0].url" class="nav-item">
            <img [src]="user.images[0].url" alt="user img" class="rounded-circle img-profile">
          </span>
          <span class="navbar-text">{{ user.display_name }}</span>
          <!-- <p class="loggedin">{{ user.display_name }}</p> -->
        </ng-container>
      <!-- </ul> -->
  </div>
</nav>
