  <div class="row">
    <ul class="nav nav-pills">
      <li role="presentation" class="nav-item"><a class="nav-link" routerLink="/newReleases" routerLinkActive="active">New Releases</a></li>
      <li role="presentation" class="nav-item"><a class="nav-link" routerLink="/search" routerLinkActive="active">Search</a></li>
      <!-- <li role="presentation" class="nav-item"><a class="nav-link" href="#">Other</a></li>
      <li role="presentation" class="nav-item"><a class="nav-link" href="#">Misc</a></li> -->
    </ul>

  </div>
